*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(135deg,#8052ec,#d161ff);
    display: flex;
    flex-direction: column;
 justify-content: center;
 align-items: center;
  
}

.container{

    width: 40%;
    min-width: 450px;
    padding: 30px 40px;
    position: absolute;

}

#newTask{
    background-color: white;
    padding: 30px 20px ;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.5);

}

#newTask input {
    width: 65%;
    width: 65%;
    height: 40px;
   
    font-size: 15px;
    outline: none;
    border: 2px solid #d1d3d4;
    padding: 12px;
    font-weight: 600;
    position: relative;
    border-radius: 10px;

}
#newTask input:focus {
    border-color: #8052ec;
}

#newTask button {
    position: relative;
    float: right;
    width: 25%;
    height: 40px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #8052ec;
    border: none;
    color: white;
    cursor: pointer;
}

#task{
    background-color: white;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.5);
    width: 100%;
    position: relative;

}

.delete{

    float: right;
    width: 25%;
    height: 45px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #8052ec;
    border: none;
    color: white;
    
    cursor: pointer;
  
}
.completed{
    text-decoration: line-through;
}